<div class="footer-container">
  <div class="footer">
    <div class="address">
      <p class="title">Address</p>
      <p class="inform">
        sydney address 
      </p>
    </div>
    <div class="number">
      <p class="title">Connect number</p>
      <p class="inform">11111111</p>
      <p class="inform">11111111</p>
      <p class="inform">11111111</p>
    </div>
    <div class="emailaddress">
      <p class="title">Email Address</p>
      <p class="inform">place you email address</p>
      <p class="inform">place you official we chat id</p>
    </div>

    <div class="emailaddress">
      <p class="title">Other info</p>
      <p class="inform">cooperation</p>
      <p class="inform">cooperation</p>
      <p class="inform">cooperation</p>
    </div>
  </div>
</div>