<header>
    <nav>
        <div>
            <a routerLink="home">
                <span>Home</span>
            </a>
        </div>

        <div>
            <a>
                <span>Today Sales</span>
            </a>
        </div>
        <div>
            <a>
                <span>New</span>
            </a>
        </div>
        <div>
            <a>
                <span>Category</span>
            </a>
        </div>
        <div>
            <a>
                <span>About Us</span>
            </a>
        </div>
        <div>
            <a (click)="onSignInButtonClick()">
                <span>sign in</span>
            </a>
        </div>

    </nav>
</header>

<div [@visibilityChanged]="showForm" class="signinForm animated">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="  Enter email"
            >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="  Password"
            >
        </div>
        
        <button
            type="submit"
            class="btn btn-primary form-submit"
            (click)="signInRequest()"
        >
            Submit
        </button>
    </form>
</div>
